* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: "Poppins", sans-serif;
	background-color: #000;
	color: #dcdcdc;
}
.app-container {
	width: 100%;
	max-width: 600px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	margin: 4em 5.5em 0 0;
	font-size: 2rem;
	text-align: center;
	color: #f2bc41;
}
form {
	display: flex;
	align-items: center;
	margin: 0 0 2em 0;
}

.todo-input,
.todo-add-btn,
.trash-btn,
.complete-btn {
	font-size: 1.5rem;
	background-color: black;
	border: none;
}

.todo-input {
	margin: 1em;
	padding: 0.5em;
	border-bottom: 1px solid #f2bc41;
	color: #dcdcdc;
	border-radius: 8px;
}
.todo-input:focus-visible {
	outline-color: #000;
}
.todo-input:focus {
	outline: none;
}
button {
	cursor: pointer;
	padding: 0.5em;
	color: #6d6b6b;
	transition: all 0.3s ease;
	cursor: pointer;
}
button:hover {
	transform: scale(1.2);
	color: #f2bc41;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 500px;
	min-width: 320px;
}

.todo-list {
	width: 100%;
	list-style: none;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease;
}

.todo li {
	flex: 1;
}

.todo-item {
	padding: 0 1em;
}
.icon {
	pointer-events: none;
}

.completed {
	text-decoration: 2px line-through #f2bc41;
	opacity: 0.5;
	transform: scale(0.9);
}

.fall {
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}
.select {
	margin: 1em;
	position: relative;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	padding: 1.3em;
	text-align: center;
	border-bottom: 1px solid #f2bc41;
	border-radius: 8px;
	color: #dcdcdc;
	background-color: #000;
	z-index: 2;
	min-width: 150px;
}

.select::after {
	content: "\25bc";
	position: absolute;
	top: 10px;
	right: 10px;
	color: #6d6b6b;
	pointer-events: none;
	transition: all 0.3s ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select:hover::after {
	transform: scale(1.2);
	color: #f2bc41;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.show {
	opacity: 1;
  }
  
  p {
	opacity: 0;
	transition: opacity 0.6s linear;
  }