* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: "Poppins", sans-serif;
	background-color: #000;
	color: #dcdcdc;
}
.app-container {
	width: 100%;
	max-width: 600px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	margin-top: 10em;
	font-size: 2rem;
	text-align: center;
	color: #f2bc41;
}
form {
	margin: 2em 0;
}

.todo-input,
.todo-add-btn,
.trash-btn,
.complete-btn {
	font-size: 1.5rem;
	background-color: black;
	border: none;
}

.todo-input {
	margin: 1em;
	padding: 0.5em;
	border-bottom: 1px solid #f2bc41;
	color: #dcdcdc;
}
.todo-input:focus-visible {
	outline-color: #000;
}
.todo-input:focus {
	outline: none !important;
}
button {
	cursor: pointer;
	padding: 0.5em;
	color: #6d6b6b;
	transition: all 0.3s ease;
	cursor: pointer;
}
button:hover {
	transform: scale(1.2);
	color: #f2bc41;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.todo-list {
	min-width: 320px;
	list-style: none;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s ease;
}

.todo li {
	flex: 1;
}

.todo-item {
	padding: 0 1em;
}
.icon {
	pointer-events: none;
}

.completed {
	text-decoration: 2px line-through #f2bc41;
	opacity: 0.5;
	transform: scale(0.9);
}

.fall {
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}
