* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: #DCDCDC;
}

header {
	margin-top: 10em;
	font-size: 2rem;
	color: #f2bc41;
}

.todo-input,
.todo-button {
	font-size: 1.5rem;
	background-color: black;
	border: none;
}

.todo-input {
	margin: 1em;
	padding: 0.5em;
	border-bottom: 1px solid #f2bc41;
	color: #dcdcdc;
}
.todo-input:focus-visible {
	outline-color: #000;
}
.todo-input:focus {
	outline: none !important;
}
.todo-button {
	cursor: pointer;
}
.icon {
	color: #6d6b6b;
	transition: all 0.3s ease;
}

.icon:hover {
	transform: rotate(180deg) scale(1.2);
	color: #f2bc41;
}
